{% extends "main_app/base.html" %}


{% block content %}
<div class="card" style="widtd: 40rem;">
    <div class="card-body">
        <h4>DEVIS {{quotation.pk}} du {{quotation.date}} {{quotation.status}} </h4>
        <h5 class="card-title">French-E </br> 10 rue des jaules 75000 Paris cedex 15 </br>tel: 01 89 58 74 10 </br> fax : 01 89 58 74 11  </h5>
        <h6 class="card-title">{{quotation.customer.business}} </h6>

         <div>
            {{quotation.customer.first_name}} {{quotation.customer.last_name}} </br> {{quotation.customer.address}} {{quotation.customer.zipcode}} {{quotation.customer.city}} </br> {{quotation.customer.phone_number}}
        </div>

        <table id="quottable">
        <threat>
         <tr id="entete">
            <td>Code produit</td>
            <td>Désignation du produit</td>
            <td>Quantités souhaitées</td>
            <td>Prix unitaire HT en €</td>
            <td>Montant HT en €</td>
        </tr>

        {% for line in quotation.quotationline_set.all %}
       
        <tr>
            <td>{{line.product.code}}</td>
            <td>{{line.product.name}}</td> 
            <td>{{line.quantity}}</td>
            <td>{{line.product.price}}</td>
            <td>---</td>
        </tr>
        <tr>
            <td colspan"4">TOTAL HT</td>
        </tr>
         <tr>
            <td colspan"4">TVA 20.6%%</td>
        </tr>
        <tr>
          <td colspan"4">TOTAL TTC</td>
        </tr>
        {% endfor %}
       </threat>
        </table>
    <div id="btnend">
        <a href= class="btn btn-primary">edit</a>
        <a href={% url 'delete-quotation' quotation.id %} class="btn btn-primary">supprimer</a>
    </div>
    </div>
</div>

{% endblock %}
