{% extends "main_app/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form class="" action="." method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="form-row">
        {% render_field form.customer class+="form-control form-control-lg" placeholder="client"%}
    </div>
    <div class="form-group">
        <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>remove</th>
            </tr>
        </thead>
        <tbody id="formset">
        {% for formset in inlines %}
        {% for form in formset %}
            <tr id="{{ form.prefix }}-row">
                <td>
                    {% render_field form.product class+="form-control" %}
                </td>
                <td>
                    {% render_field form.quantity class+="form-control" %}
                </td>
                <td class="btn btn-warning"></td><!-- for remove btn -->
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
        </table>
    {{ formset.management_form }}
     </div>
    <button type="submit" class="btn btn-primary" name="submit">enregistrer</button>
</form>

{% endblock %}
